body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
}

.menu {
    list-style: none;
    position: fixed;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}

#mywork {
    background-color: coral;
    height: auto;
    width: 100%;
    color: brown;
}

img:hover {
    transform: scale(0.9);
}


html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.links {
    float: left;

    font-family: monospace;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;

}

.links:hover {
    background-color: aqua;
}

.pic {
    width: 400px;
    border-radius: 50%;
    margin-bottom: 50px;
}

#welcome {
    background: linear-gradient(#00ffbf 0%, #ff4dff 100%);
    display: table;
    color: #4d4dff;
    height: 80%;
    width: 100%;
    font-style: oblique;
    font-size: 36px;
    opacity: 0.93;
    overflow: hidden;
    height: 800px;
    position: absolute;
    top: 0;
    bottom: :0;
    left: 0;
    right: 0;
}

.parallax {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    font-family: Langar;
    color: forestgreen;
}

h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 3.3;
    font-family: inherit;
    margin: auto;
    color: darkmagenta;
}

.line {
    background-color: black;
    height: 6px;
    width: 70px;
    margin: 5px auto;

}

p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 30px;
    line-height: 1.3;
    color: chartreuse;
    font-style: oblique;
}

#name {
    font-size: 34px;
    line-height: 1.2;
    font-family: Dancing Script;
    color: gold;
}

#b {
    padding: 50px;
    text-align: center;
background: linear-gradient(#345995 0%, #03CEA4  100%);
  
}

h3 {
    font-size: 40px;
    color: fuchsia;
    font-style: oblique;
    font-weight: 300px;
}

#i {
    color: brown;
    font-family: inherit;
    font-size: 30px;
    border-width: 5px;
    border-style: dashed;
    border-radius: 100px;
    background-color: sandybrown;
    border-color: royalblue;
}

#c {
    font-family: inherit;
    font-size: 30px;
    color: palegreen;
    border-width: 5px;
    border-style: dashed;
    background-color: hotpink;
    border-radius: 100px;
    border-color: navy;
}

#f {
    font-family: inherit;
    font-size: 30px;
    color: lightcoral;
    background-color: yellow;
    border-width: 5px;
    border-color: darkturquoise;
    border-style: dashed;
    font-size: 30px;
    border-radius: 100px;
}

#v {
    font-family: inherit;
    font-size: 30px;
    font-size: 30px;
    border-style: dashed;
    border-width: 5px;
    border-color: peru;
    background-color: forestgreen;
    border-radius: 100px;
    color: tomato;
}

#pp {
    color: blueviolet;
    font-size: 40px;
    font-style: italic;

}

#ppp {
    font-size: 40px;
    font-style: italic;
    color: orangered;
}

#ab {
    color: darkgoldenrod;
    font-size: 40px;
    font-family:Warnes;
}

#pppp {
    font-size: 40px;
    color: orange;
    font-family: Irish Grover;
}

h4 {
    color: chocolate;
    font-size: 56px;
    font-weight: 300px;
    font-family: Special Elite;
}

#ts {
    color: darkorange;
    font-size: 50px;
    font-family:Kirang Haerang;
    font-weight: 300px;
}

#yu {
    color: darkturquoise;
    font-size: 40px;
    
    font-family: Hanalei;
}

#jp {
    color: firebrick;
    font-size: 40px;
    font-weight: 500px;
    font-family: Niconne;
}

#lo {
    color: firebrick;
    font-weight: 500px;
    font-size: 40px;
    font-family: Niconne;
}

#lp {
    color: firebrick;
    font-weight: 500px;
    font-size: 40px;
    font-family: Niconne;
}

#tyu {
    color: darkslategrey;
    font-size: 45px;
    font-weight: 400;
    font-family: Cookie;
}

#alberteinstein {
    color: skyblue;
    font-family: Mystery Quest;
    font-size: 52px;
    font-weight: 200px;
}

#corona {
    font-family: Supermercado One;
    font-size: 52px;
    color: palegreen;
    font-weight: 200px;
}

#my_chatbot {
    font-weight: 200px;
    font-size: 52px;
    color: olive;
    font-family: Bonbon;
}

#cb {
    color: yellow;
    font-size: 56px;
    font-weight: 300px;
    font-family: Sancreek;
    background-color: mediumvioletred;
    border-style: dotted;
    border-color: salmon;
    border-width: 7px;
}

#games {
    font-size: 56px;
    font-weight: 300px;
    border-style: dotted;
    border-width: 7px;
    font-family: Mr Bedfort;
    border-color: cornflowerblue;
    background-color: darkred;
    color: tomato;

}
#apps{
  border-width: 7px;  
    font-size: 56px;
    font-weight: 300px;
     border-style: dotted;
    font-family:Sevillana;
    color:darkorange;
    background-color:mediumspringgreen;
    border-color:indigo;

}
